<div class="mian">
  <div class="nav">
    <div class="logo">
      <h1>IM SOLUTION</h1>
    </div>
    <div class="nav_a">
      <a href="">Home</a>
      <a href="">Projects</a>
      <a href="">Contact Us</a>
      <a href="">Login</a>
    </div>
  </div>
  <div class="home_body">
    <div class="home_body_sub">
      <div class="home_body_dec">
        <h2>| ONE STOP</h2>
        <h1>IM SOLUTION</h1>
        <p>India’s fastest growing system integrator IT Company</p>
        <p>
          having IM Solution more than 10 highly skilled and motivated
          workforce.
        </p>
        <div class="home_body_btn">
          <a href="">GET IN TOUCH</a>
          <a href="">JOIN OUR TEAM</a>
        </div>
      </div>

      <div class="home_body_img">
        <img src="./img.gif" alt="" />
      </div>
    </div>
  </div>

  <div class="Competencies">
    <div class="Competencies_headind">
      <h1>Our Core Competencies</h1>
    </div>

    <div class="services">
      <div class="service_1">
        <img src="./digital.jpg" alt="" />
        <p>
          Digital <br />
          Marketing
        </p>
      </div>
      <div class="service_1">
        <img src="app-development.png" alt="" />
        <p>
          Software <br />
          Development
        </p>
      </div>
      <div class="service_1">
        <img src="folder.png" alt="" />
        <p>Database <br> Administration</p>
      </div>
    </div>
    <p>
      IM Solution is India’s fastest growing system integrator, ISO 9001:2015 &
      ISO 27001:2013 & CMMi Level 3 Certified IT Company having PAN India
      service provider. <br />This was initiated in 2020 by a professional man
      entrepreneur, Mr. Furkhan. We are committed to providing high-quality
      services and maintaining information <br />security standards. We have a
      pool of 300 technically competent computer professionals who are capable
      of providing a wide range of IT services, including IT infrastructure
      <br />creation, server and database administration, software development,
      large-volume document management, and IT manpower supply.
    </p>
  </div>
  <!-- -----------About Section-------------------------- -->

  <div class="about">
    <div class="about_img">
      <img src="./im-solution.png" alt="" />
    </div>
    <div class="about_dec">
      <h1>About Us</h1>
      <p>
        We are experts in various domains, including computerized land
        registration, land record capture, digitization for CCTNS, data capture
        for E-court, bank computerization, and computerized utility billing. Our
        specialized skills in e-governance, especially in the field of
        quasi-judicial document management, till date processed around 800 lakhs
        of pages, and demonstrate our understanding of government processes and
        the need for data integrity and security.
      </p>
      <br />
      <p>
        Our experience in working on state-wide multi-location projects is
        impressive, and it's great to know that we are operating 42 offices in
        Jharkhand and presently 106 offices in Chhattisgarh under the BOO model
        for computerized registration. This indicates that we have a
        well-established infrastructure and can manage large-scale projects
        effectively. Our experience in the IT-enabled service industry makes us
        a valuable partner for organizations that require IT services and
        solutions.
      </p>
    </div>
  </div>

  <!-- -----------------------Quality Policy Section---------------------- -->

  <div class="quality_policy">
    <div class="quality_policy_dec">
      <h1>Quality Policy</h1>
      <p>
        We, IM Solution is committed to delivering products and services of the
        highest quality that meet or exceed customer expectations. <br />
        We strive to achieve excellence in all aspects of our operations by
        fostering a culture of continuous improvement, innovation, and customer
        <br />
        satisfaction. Our quality policy is based on the following principles:
      </p>
    </div>
    <div class="policy_card">
      <div class="card">
        <h2>Quality Assurance</h2>
        <p>
          Establish and adhere to quality standards, industry best practices,
          and regulatory requirements to ensure the reliability, functionality,
          and performance of our offerings. plays a vital role in enhancing
          customer satisfaction, reducing defects and errors, improving
          efficiency, and maintaining the reputation and competitiveness of
          organizations in various industries.
        </p>
      </div>
      <div class="card">
        <h2>Customization and Personalization</h2>
        <p>
          Recognize that each client may have unique needs and preferences.
          Whenever possible, offer personalized solutions and tailor our
          products or services to meet individual client requirements. This can
          involve customization, flexible options, or personalized support to
          ensure a better fit for their specific needs.
        </p>
      </div>
      <div class="card">
        <h2>Build Trust and Relationships</h2>
        <p>
          Focus on building strong relationships with clients based on trust,
          transparency, and mutual respect. Foster a customer-centric culture
          within our organization, where all employees understand the importance
          of client satisfaction and actively contribute to achieving it.
        </p>
      </div>
      <div class="card">
        <h2>Compliance and Ethics</h2>
        <p>
          Compliance and ethics are two interconnected concepts that guide the
          behavior and actions of individuals and organizations, ensuring they
          operate in accordance with legal and ethical standards. Keeping
          up-to-date with relevant laws, regulations, and industry standards
          that apply to the organization's activities.
        </p>
      </div>
      <div class="card">
        <h2>Continuous Improvement</h2>
        <p>
          This is a systematic approach to constantly enhancing processes,
          products, or services within an organization. It involves identifying
          areas for improvement, making changes, and monitoring the results to
          drive ongoing progress and efficiency. Set specific, measurable,
          achievable, relevant, and time-bound (SMART) goals that align with the
          organization's overall objectives.
        </p>
      </div>
    </div>
  </div>

  <!-- -----------------Footer Section------------------------- -->

  <div class="Footer">
    <h1>Office Addresses</h1>
    <div class="footer_add">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#5f6368">
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
      </svg>
      <p>Santosh Nagar, Mehdipatnam, Hyderabad</p> -->
    </div>

  </div>

</div>